* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.seesawSystem {
    /*background-color: red;*/
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.plank {
    width: 500px;
    height: 10px;
    background-color: black;
    border-radius: 1rem;
    position: relative;
    transition: transform 0.5s; /* use for rotation effect later */

    /* Creates a vertical grid line every 50px using CSS only */
    background-image: repeating-linear-gradient(
        90deg,             /* Direction: Left to Right */
        transparent 0px,   /* Start transparent */
        transparent 49px,  /* Keep it transparent for the first 49px (The gap) */
        white 49px,        /* Hard switch to white color */
        white 50px         /* End pattern at 50px (Results in a 1px wide line) */
    );
}

.pivot {
    width: 0; /* i ask gemini how to create a triangle with css */
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid gray;
}

.box { /* I take these codes from js for to clean the code in js file */
    position: absolute;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoPanel {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.statBox {
    background-color: white;
    padding: 10px 20px;
    border-radius: 0.5rem;
    border: 1px solid black;
}